name: create release

on:
  push:
    branches: [ master ]
    paths:
      - "**/workflows-trigger.properties"

env:
  PACKAGE_VERSION: 1.1.1
  V_PACKAGE_VERSION: v1.1.1

jobs:

  current-time:
    runs-on: ubuntu-latest
    name: get current time
    outputs:
      currentTime: ${{steps.currentTime.outputs.formattedTime}}
    steps:
      - id: currentTime
        uses: josStorer/get-current-time@v2
        with:
          format: YYYY.MM.DD
          utcOffset: "+08:00"

  create-release-distribution:
    strategy:
      matrix:
        os: [ windows-latest , ubuntu-latest , macos-13 , macos-14 ]
    runs-on: ${{ matrix.os }}
    name: create release distribution
    needs: current-time

    steps:
      - if: matrix.os != 'macos-14'
        name: setup jdk
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: "18"
          architecture: x64

      - if: matrix.os == 'macos-14'
        name: setup jdk
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: "18"
          architecture: x64

      - name: checkout
        uses: actions/checkout@v4

      - name: grant execute permission for gradlew
        run: chmod +x gradlew

      - name: packageReleaseDistributionForCurrentOS
        run: ./gradlew packageReleaseDistributionForCurrentOS

      - if: matrix.os == 'windows-latest'
        name: rename File
        run: |
          mv ./build/compose/binaries/main-release/exe/compose-multiplatform-xlog-decode-${{env.PACKAGE_VERSION}}.exe ./build/compose/binaries/main-release/exe/compose-multiplatform-xlog-decode-${{env.V_PACKAGE_VERSION}}-windows-x86_64.exe

      - if: matrix.os == 'windows-latest'
        name: zip AppImage
        uses: thedoctor0/zip-release@0.7.6
        with:
          type: "zip"
          directory: "./build/compose/binaries/main-release/app/compose-multiplatform-xlog-decode"
          filename: "compose-multiplatform-xlog-decode-${{env.V_PACKAGE_VERSION}}-windows-x86_64.zip"

      - if: matrix.os == 'ubuntu-latest'
        name: rename File
        run: |
          mv /home/runner/work/compose-multiplatform-xlog-decode/compose-multiplatform-xlog-decode/build/compose/binaries/main-release/rpm/compose-multiplatform-xlog-decode-${{env.PACKAGE_VERSION}}-1.x86_64.rpm   /home/runner/work/compose-multiplatform-xlog-decode/compose-multiplatform-xlog-decode/build/compose/binaries/main-release/rpm/compose-multiplatform-xlog-decode-${{env.V_PACKAGE_VERSION}}-linux-x86_64.rpm          
          mv /home/runner/work/compose-multiplatform-xlog-decode/compose-multiplatform-xlog-decode/build/compose/binaries/main-release/deb/compose-multiplatform-xlog-decode_${{env.PACKAGE_VERSION}}_amd64.deb      /home/runner/work/compose-multiplatform-xlog-decode/compose-multiplatform-xlog-decode/build/compose/binaries/main-release/deb/compose-multiplatform-xlog-decode-${{env.V_PACKAGE_VERSION}}-linux-amd64.deb

      - if: matrix.os == 'macos-13'
        name: rename File
        run: |
          mv /Users/runner/work/compose-multiplatform-xlog-decode/compose-multiplatform-xlog-decode/build/compose/binaries/main-release/dmg/compose-multiplatform-xlog-decode-${{env.PACKAGE_VERSION}}.dmg /Users/runner/work/compose-multiplatform-xlog-decode/compose-multiplatform-xlog-decode/build/compose/binaries/main-release/dmg/compose-multiplatform-xlog-decode-${{env.V_PACKAGE_VERSION}}-macos-x86_64.dmg

      - if: matrix.os == 'macos-14'
        name: rename File
        run: |
          mv /Users/runner/work/compose-multiplatform-xlog-decode/compose-multiplatform-xlog-decode/build/compose/binaries/main-release/dmg/compose-multiplatform-xlog-decode-${{env.PACKAGE_VERSION}}.dmg /Users/runner/work/compose-multiplatform-xlog-decode/compose-multiplatform-xlog-decode/build/compose/binaries/main-release/dmg/compose-multiplatform-xlog-decode-${{env.V_PACKAGE_VERSION}}-macos-arm64.dmg

      - name: draft a new release
        uses: ncipollo/release-action@v1
        with:
          token: ${{secrets.ACTION_TOKEN}}
          allowUpdates: true
          artifactErrorsFailBuild: false
          generateReleaseNotes: true
          artifacts: "**/exe/*.exe,**/app/compose-multiplatform-xlog-decode/*.zip,**/deb/*.deb,**/rpm/*.rpm,**/dmg/*.dmg"
          body: "## ${{env.V_PACKAGE_VERSION}} / ${{needs.current-time.outputs.currentTime}}"
          tag: "${{env.V_PACKAGE_VERSION}}"
          name: "${{env.V_PACKAGE_VERSION}}"